* {
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
.error{
    background: rgb(248, 40, 40) !important; ;
}
.info{
    background: #fff !important;
    color:#262626;
}
body {
    background-image: url(../images/background.jpg);
    background-size: cover;
}

#container {
    width: 80%;
    background-color: rgba(255, 255, 255, .7);
    margin: 20vh auto;
    border: 3px solid #262626;
    border-radius: 0.4rem;
}

#welcome_title {
    margin-top: 100px;
    font-size: 4em;
    text-align: center;
    font-style: italic;
    color: rgb(97, 182, 12);
}

.startButton {
    border: none;
    font-size: 25px;
    font-weight: bold;
    display: block;
    width: 300px;
    padding: .5rem 0;
    color: white;
    background-color: #262626;
    margin: 60px auto;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
    transition: all 0.6s ease;
}

.startButton:hover,
.startGameButton:hover {
    background-color: #262626;
}

.author {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    margin-top: 80px;
    font-size: 25px;
    margin-bottom: 20px;
}

#container_icon {
    margin-top: 20px;
    margin-left: 20px;
    clip-path: circle(50% at 50% 50%);
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border:none;
    background-color: #262626;
    padding: 5px;
}

#container_icon:hover {
    transition: 0.4s ease all;
    opacity: 0.9;
}

i {
    font-size: 30px;
    color: white;
}

#login {
    display: none;
}

#logo {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

img {
    width: 150px;
}

.inputs {
    outline: none;
    display: block;
    width: 300px;
    height: 35px;
    margin: auto;
    margin-top: 40px;
    padding-left: 1rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
}

input:focus ,
#inputOfFirstPlayer:focus,
#inputOfSecondPlayer:focus,
#extremOfFirstPlayer:focus,
#extremOfSecondPlayer:focus
{
    box-shadow: 0px 0px 2px 2px rgb(97, 182, 12);
}

.startGameButton {
    outline: none;
    display: block;
    width: 300px;
    border-radius: 1rem;
    margin: auto;
    padding: .5rem 0;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #262626;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border:none;
    transition: all 0.6s ease;

}

#game_container {
    display: none;
}

#menuFirstPlayer {
    padding: 20px;
    border-bottom: 2px solid #262626;
}
#menuSecondPlayer {
    padding: 20px;
    border-top: 2px solid #262626;
}

#tokensOfFirstPlayer,
#tokensOfSecondPlayer {
    font-size: 40px;
    color:#262626;
    display: block;
    margin: 10px auto;
    text-align: center;
}

#inputOfFirstPlayer,
#inputOfSecondPlayer {
    width: 200px;
    height: 30px;
    padding-left: .5rem;
    font-weight: bold;
    outline: none;
    border:none;
    border-radius: 0.3rem;

}

input {
    display: block;
    margin: 20px auto;
}

.launchToken {
    border: none;
    font-size: 17px;
    padding: 6px 0px;
    display: block;
    width: 200px;
    color: white;
    background-color: #262626;
    margin: 20px auto;
    cursor: pointer;
    outline: none;
    border-radius: .5rem;
}

.launchToken:hover {
    transition: 0.4s ease all;
    opacity: 0.9;
}

span {
    color:#262626;
    font-size: 2.5rem;
}

#gameTable {
    width: 100%;
    margin: 20px auto;
}

#stringOfTokens {
    text-align: center;
    font-size: 50px;
    color:#262626;
}

.nameContainer {
    margin-left: 20px;
    font-size: 30px;
    color:#262626;
    font-weight: bold;
}

#extremOfFirstPlayer,
#extremOfSecondPlayer {
    display: block;
    height: 30px;
    margin: 20px auto;
    width: 200px;
    color:#262626;
    font-weight: bold;
    outline: none;
    padding-left: .3rem;
    border: none;
    border-radius: 0.3rem;

}
option{
    color:#262626;
    font-weight: bold;
}

#repository {
    display: block;
    margin-left: auto;
    background-color: #262626;
    color: white;
    font-weight: bold;
    padding: 20px 0px 20px 70px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    clip-path: circle(39.1% at 100% 50%);
}

@media (max-width: 600px) {
    #container {
        width: 100%;
    }
    #welcome_title {
        font-size: 35px;
        margin-top: 80px;
    }
    .startButton {
        width: 40%;
        font-size: 15px;
        margin: 30px auto;
    }
    .author {
        margin-top: 40px;
        font-size: 15px;
        margin-right: 30px;
    }
    #game_container {
        width: 100%;
    }
    body {
        background-size: auto;
    }
    #container_icon {
        margin-top: 20px;
        margin-left: 20px;
        width: 50px;
        height: 50px;
    }
    .inputs {
        width: 70%;
    }
    .startGameButton {
        width: 60%;
    }
    #container_icon {
        width: 35px;
        height: 35px;
    }
    #menuFirstPlayer,
    #menuSecondPlayer {
        padding: 20px;
        display: block;
        border-bottom: 2px solid #262626;
    }

    #tokensOfFirstPlayer,
    #tokensOfSecondPlayer {
        font-size: 30px;
        color: #262626;
    }
    #input_player1,
    #input_player2 {
        width: 50%;
        height: 35px;
        outline: none;
        display: block;
        margin: auto;
    }
    #extremOfFirstPlayer,
    #extremOfSecondPlayer{
        width: 50%;
        text-align: center;
    }
    .launchToken {
        font-size: 20px;
        margin-top: 20px;
        width: 60%;
        height: 40px;
    }
    .nameContainer {
        margin-left: 15px;
        font-size: 25px;
    }
}